:root {
  --primary: hsl(229, 42%, 21%);
  --primary-hover: hsl(229, 42%, 30%);
  --secondary: rgb(255, 99, 71);
  --secondary-hover: rgb(252, 108, 82);
  --accent: #e5b220;
}
* {
  margin: 0;
  box-sizing: border-box;
}
header {
  background: #8e9096;
}
header,
.banner,
.intro,
.projects,
.testimony,
.work-approach,
footer {
  padding: 10px 50px;
}
.banner,
.projects {
  background: var(--primary);
  color: white;
}
/* .banner:hover {
  background: red;
} */
.btn {
  color: white;
  background: var(--secondary);
  cursor: pointer;
}
.btn:hover {
  background: var(--secondary-hover);
  /* color: black; */
}
/* .background > .content::first-line {
  font-size: 50px;
} */
.title {
  color: var(--secondary);
}
.intro,
.testimony {
  color: var(--primary);
}
.work-approach {
  color: white;
  background: var(--accent);
}
.work-approach > .title {
  color: white;
}
.work {
  background: var(--primary);
}
.work:hover {
  background: var(--primary-hover);
}
footer {
  color: white;
  background: var(--primary);
}
.float {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
/* .projects > .image-container {
  position: relative;
  right: 20px;
}
header {
  position: sticky;
  top: 0px;
  margin-top: 100px;
  z-index: 1;
} */
.flex-container {
  display: flex;
}
.logo {
  margin-right: auto;
  align-self: center;
}
nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav > ul > li {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
nav > ul > li:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid black;
}
.active {
  border-bottom: 1px solid black;
}
.banner {
  display: flex;
}
.banner > .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.banner > .image-container {
  flex: 1;
  width: 200px;
}
.image-container > img {
  width: 100%;
}
.intro {
  text-align: center;
}
.service-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service-content > .card {
  padding: 20px;
}
.service-content > .card > .card-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.hamburger {
  display: none;
  height: 25px;
}
.hamburger > img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  nav > ul {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner > .image-container {
    align-self: center;
  }
}
